# dependencies
node_modules

# next
.next
out

# production
build
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.development
.env.production

# vercel
.vercel

# vscode
.vscode

# jetbrains
.idea

# typescript
*.tsbuildinfo

# coverage
coverage

# generated
*.log

# OS
.DS_Store
Thumbs.db

# temporary
tmp
temp

# uploads
uploads

# cache
.cache